{
  "presets": [
    ["@babel/preset-env", { "targets": { "esmodules": true } }],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "transform": {
    "\\.[jt]sx?$": "babel-jest",
    "\\.css$": "react-toastify/dist/ReactToastify.css"
  }
}
