<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Atualizar senha</title>
</head>
<body>
  Esqueceu a senha <br/>

  Para recuperar sua senha acesso <a href={{urlToken}}>aqui</a>
</body>
</html>
